.rotate {
    -moz-transition-duration: 0.8s;
    -moz-transition-property: -moz-transform;
    -o-transition-duration: 0.8s;
    -o-transition-property: -o-transform;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    transition-duration: 0.8s;
    transition-property: transform;
}

.rotate-90 {
    -moz-transition-duration: 0.4s;
    -moz-transition-property: -moz-transform;
    -o-transition-duration: 0.4s;
    -o-transition-property: -o-transform;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: -webkit-transform;
    transition-duration: 0.4s;
    transition-property: transform;
}

.rotate:hover {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rotate-90:hover {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.05); }