@{
    ViewBag.Title = "About";
}

<link href="~/Content/quizAbout.css" rel="stylesheet">
@Html.Partial("_Menu")
<div class="about-form-container">
    <div class="about-title">
        We believe in
    </div>
    <div class="about-item">
        <img src="~/Images/tick.png"/>
        <span class="about-main-item">Quality</span>
        <div class="about-item-description">
            We provide a wide range of up-to-date questions, which cover many different topics. All the answers are verified. We often add new questions and cover more and more topics.  
        </div>
        <hr class="hr-gray"/>
    </div>
    <div class="about-item">
        <img src="~/Images/tick.png"/>
        <span class="about-main-item"> User Experience</span>
        <div class="about-item-description">
            Our goal is to deliver a great user experience. No confusing site structure, good flexibility and responsiveness.  
        </div>
        <hr class="hr-gray"/>
    </div>
    <div class="about-item">
        <img src="~/Images/tick.png"/>
        <span class="about-main-item">
            Inspiration
        </span>
        <div class="about-item-description">
            We want to inspire you to dig deeper into software development. It can be a great fun!
        </div>
        <hr class="hr-gray"/>
    </div>
</div>