@{
    ViewBag.Title = "About";
}

<link href="~/Content/quizAbout.css" rel="stylesheet">
@Html.Partial("_Menu")
<div class="about-form-container">
    <div class="about-title">
        We believe in
    </div>
    <div class="about-item">
        <img src="~/Images/tick.png"/>
        Quality
        <hr class="hr-gray"/>
    </div>
    <div class="about-item">
        <img src="~/Images/tick.png"/>
        User Experience
        <hr class="hr-gray"/>
    </div>
    <div class="about-item">
        <img src="~/Images/tick.png" />
        Inspiration
        <hr class="hr-gray" />
    </div>
</div>