@model WebProject.Models.Quiz.QuestionModel
@{
    ViewBag.Title = "Detail";
}

<link href="~/Content/question.css" rel="stylesheet">

@using (Html.BeginForm("GetNextQuestion", "Quiz"))
{
    <div class="question"> You have already answered the question.</div>

    <div class="question-buttons">
        <button type="submit" style="background-color: white; border: 10px solid transparent; border-color: white;">
            <img src="~/Images/btnNextQuestion.png" alt="Next" id="nextQuestion">
        </button>
    </div>
}