@model WebProject.Models.Quiz.QuestionModel
@{
    ViewBag.Title = "Question completed";
}

<link href="~/Content/quiz.css" rel="stylesheet">

@using (Html.BeginForm("Question", "Quiz"))
{
    <div class="answered"> You have already answered the question </div>
    <div>
        <button type="submit" style="background-color: white; border: 10px solid transparent; border-color: white;">
            <img src="~/Images/btnNextQuestion.png" alt="Next" id="nextQuestion">
        </button>
    </div>
}