@using GridMvc.Html
@model IEnumerable<WebProject.Models.Account.RegisterModel>
@{
    ViewBag.Title = "Welcome to";
}

<link href="~/Content/quizIndex.css" rel="stylesheet">

<div class="quiz-title">
    Welcome to Quiz4Net
</div>

<div class="quiz-description">
    We provide free .Net quiz which helps you assess your .Net programming skills
</div>
<div class="quiz-description">
    Our main goal is to provide quiality content and great user experience
</div>
<div class="quiz-description">
    You can check the correct answers for each question
</div>

<div class="quiz-completed-buttons">
    <a href="@Url.Action("StartTest", "Quiz")">
        <img src="~/Images/btnStartNewTest.png" alt="Start a new test" />
    </a>
</div>