@using GridMvc.Html
@model IEnumerable<WebProject.Models.Account.RegisterModel>
@{
    ViewBag.Title = "Welcome to";
}

<link href="~/Content/quizIndex.css" rel="stylesheet">

<div class="quiz-title">
    <img src="~/Images/welcomeImage.png" alt="Welcome to Quiz4Net"/>
    <hr />
</div>

<div class="quiz-description">
    <img src="~/Images/tick.png"/>
    We provide free .Net quiz which helps you assess your .Net programming skills
</div>
<div class="quiz-description">
    <img src="~/Images/tick.png" />
    Our main goal is to provide quiality content and great user experience
</div>
<div class="quiz-description">
    <img src="~/Images/tick.png" />
    You can check the correct answers for each question
</div>

<div class="quiz-completed-buttons">
    <a href="@Url.Action("StartTest", "Quiz")">
        <img src="~/Images/btnStartTest.png" alt="Start test" />
    </a>
</div>