@using GridMvc.Html
@model IEnumerable<WebProject.Models.Account.RegisterModel>
@{
    ViewBag.Title = "Welcome to";
}

<link href="~/Content/quizIndex.css" rel="stylesheet">

<div class="quiz-title">
    Welcome to Quiz4Net
</div>

<div class="quiz-completed-buttons">
    <a href="@Url.Action("StartTest", "Quiz")">
        <img src="~/Images/btnStartNewTest.png" alt="Start a new test" />
    </a>
</div>