@model IEnumerable<WebProject.Models.Account.RegisterModel>
@{
    ViewBag.Title = "Welcome to";
}

<link href="~/Content/quizMenu.css" rel="stylesheet">
<link href="~/Content/quizIndex.css" rel="stylesheet">
@Html.Partial("_Menu")
<div class="quiz-title">
    <img src="~/Images/welcomeImage.png" alt="Welcome to Quiz4Net"/>
</div>
<hr class="hr"/>
<div class="quiz-description">
    <img src="~/Images/tick.png"/>
    We provide free online tests which help you assess your development skills
    <hr class="hr-gray"/>
</div>
<div class="quiz-description">
    <img src="~/Images/tick.png"/>
    Our main goal is to provide quality content and great user experience
    <hr class="hr-gray"/>
</div>
<div class="quiz-description">
    <img src="~/Images/tick.png"/>
    You can check the correct answers for each question
    <hr class="hr-gray"/>
</div>
<div class="quiz-index-buttons">
    <a href="@Url.Action("StartTest", "Quiz")">
        <img src="~/Images/btnStartTest.png" alt="Start test"/>
    </a>
</div>