@model WebProject.Models.Quiz.QuizCompletedModel
@{
    ViewBag.Title = "Quiz Completed";
}

<link href="~/Content/question.css" rel="stylesheet">

<img src="~/Images/quizCompleted.png"/>
<div class="question">Number of correct answers: @Model.NumberOfCorrectAnswers </div>
<div class="question">Time spent: @Model.TimeSpent.Value.Minutes minutes @Model.TimeSpent.Value.Seconds seconds </div>
<div>
    <a href="@Url.Action("StartTest", "Quiz")">
        <img src="~/Images/btnStartNewTest.png" alt="Start a new test"/>
    </a>
</div>