@{
    ViewBag.Title = "Quiz not found";  
}

<link href="~/Content/quizNotFound.css" rel="stylesheet">

@Html.Partial("_Menu")
<div class="quiz-not-found-text">
    The quiz is still not available. We are working on it. Please come back later.
</div>
