@model WebProject.Models.Quiz.QuizCompletedModel
@{
    ViewBag.Title = "Quiz Completed";
}

<link href="~/Content/question.css" rel="stylesheet">

<img src="~/Images/quizCompleted.png"/>

<div class="question">Number of correct answers: @Model.NumberOfCorrectAnswers </div>