<link href="~/Content/quizMenu.css" rel="stylesheet">
<div>
    <a href="@Url.Action("Index", "Quiz")">
        <img title="Quiz4Net" src="~/Images/quiz4net_logo.png" alt="Quiz4Net Logo" class="quiz4net-menu-logo"/>
    </a>
    <a href="@Url.Action("About", "Home")">
        <img title="About Quiz4Net" src="~/Images/aboutUs.png" alt="Quiz4Net About Us" class="quiz4net-menu-item"/>
    </a>
    <a href="@Url.Action("Contact", "Home")">
        <img title="Contact Quiz4Net" src="~/Images/contacts.png" alt="Quiz4Net Contacts" class="quiz4net-menu-item"/>
    </a>
    <a href="@Url.Action("Logout", "Account")">
        <img title="Quiz4Net Logout" src="~/Images/logOutIcon.png" alt="Quiz4Net Logout" class="quiz4net-menu-item"/>
    </a>
    <hr class="hr-green"/>
</div>