<link href="~/Content/quizMenu.css" rel="stylesheet">
<div>
    <img src="~/Images/quiz4net_logo.png" alt="Quiz4Net Logo" class="quiz4net-menu-logo" />
    <a href="@Url.Action("About", "Home" )"><img src="~/Images/aboutUs.png" class="quiz4net-menu-item" /></a>
    <a href="@Url.Action("Contact", "Home" )"><img src="~/Images/contacts.png" class="quiz4net-menu-item" /></a>
    <hr class="hr" />
</div>
