@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@Html.Partial("_Menu")
<h2 class="text-danger">An error occurred while processing your request</h2>
<div>
    <img src="~/Images/errorImage.png" alt="Error"/>
</div>
<div class="buttons-section button-back-error">
    <a href="@Url.Action("Index", "Quiz", null)">   
        <span style="padding-top: 20px; font-weight: bold; font-size: 16px;">Back to home page</span>
    </a>
</div>