@using Shared.Entities
@{
    ViewBag.Title = "SharePoint 2016 Quiz";
}

<link href="~/Content/quizCategory.css" rel="stylesheet">

@Html.Partial("_Menu")
<div class="detail-form-container">
    <div class="detail-title">
        SharePoint 2016 Quiz Details
        <hr class="hr-green" />
    </div>  
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Create, edit, share, and manage documents
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Create sites, organize them, and customize their layouts, features, and apps
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Efficiently organize content by using lists, libraries, and sites
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Manage site security, themes, templates, and content syndication
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Search for information and people
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Communicate and collaborate via SharePoint’s social features
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Use SharePoint with Microsoft Word, Excel, Outlook, and OneNote
        <hr />
    </div>
    <div class="detail-buttons">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.SharePoint})">
            <img src="~/Images/btnStartTest.png" alt="Start Test"/>
        </a>
        <a href="@Url.Action("CategoriesDetails", "Quiz", null)">
            <img src="~/Images/btnBack.png" alt="Back"/>
        </a>
    </div>
</div>