@using Shared.Entities
@{
    ViewBag.Title = "ASP.Net MVC Quiz";
}

<link href="~/Content/quizCategory.css" rel="stylesheet">

@Html.Partial("_Menu")
<div class="detail-form-container">
    <div class="detail-title">
        ASP.Net MVC Quiz Details
        <hr class="hr-green" />
    </div>   
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Controllers
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Views
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Models
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Forms and HTML Helpers
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Data Annotations and Validations
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Ajax
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Routing
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Dependency Injection
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Unit Testing
        <hr class="hr-green"/>
    </div>
    <div class="detail-buttons">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.Mvc})">
            <img src="~/Images/btnStartTest.png" alt="Start Test"/>
        </a>
        <a href="@Url.Action("CategoriesDetails", "Quiz", null)">
            <img src="~/Images/btnBack.png" alt="Back"/>
        </a>
    </div>
</div>