@using Shared.Entities
@{
    ViewBag.Title = "ASP.Net MVC Quiz";
}

<link href="~/Content/quizCategory.css" rel="stylesheet">

@Html.Partial("_Menu")
<div class="detail-form-container">
    <div class="detail-title">
        ASP.Net MVC Quiz Details
    </div>
    <div class="detail-item-description">
        The test covers:
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Controllers
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Views
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Models
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Forms and HTML Helpers
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Data Annotations and Validations
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Ajax
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Routing
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Dependency Injection
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Unit Testing
    </div>
    <div class="detail-buttons">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.Mvc})">
            <img src="~/Images/btnStartTest.png" alt="Start Test"/>
        </a>
        <a href="@Url.Action("CategoriesDetails", "Quiz", null)">
            <img src="~/Images/btnBack.png" alt="Back"/>
        </a>
    </div>
</div>