@{
    ViewBag.Title = "Category Details";
    
}

<link href="~/Content/quizCategory.css" rel="stylesheet">

@Html.Partial("_Menu")
<div class="detail-form-container">
    <div class="detail-title">
        C# Quiz Details:
    </div>
    <div class="detail-item">
        Ala bala
    </div>
</div>
