@using Shared.Entities
@{
    ViewBag.Title = "C# Quiz";
}

<link href="~/Content/quizCategory.css" rel="stylesheet">

@Html.Partial("_Menu")
<div class="detail-form-container">
    <div class="detail-title">
        C# Quiz Details
        <hr class="hr-green" />
    </div>   
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Primitive Types and Variables
        <hr/>
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Operators and Expressions
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Conditional Statements
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Loops
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Arrays
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Methods
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Defining Classes
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Creating and Using Objects
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Object-Oriented Programming Principles
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Exceptions
        <hr />
    </div>
    <div class="detail-item-option">
        <img src="~/Images/tick.png"/>
        Data Structures
        <hr class="hr-green"/>
    </div>
    <div class="detail-buttons">
        <a href="@Url.Action("Question", "Quiz", new {questionCategory = QuestionCategory.CSharp})">
            <img src="~/Images/btnStartTest.png" alt="Start Test"/>
        </a>
        <a href="@Url.Action("CategoriesDetails", "Quiz", null)">
            <img src="~/Images/btnBack.png" alt="Back"/>
        </a>
    </div>
</div>