.quiz-row {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-right: 10px !important;
}

.hr {
    border: 1px solid #44C767;
    height: 0;
}

.hr-gray {
    border: 1px solid #EEEEEE;
    height: 0;
}

.message {
    color: green;
    margin-top: 10px;
    padding-bottom: 10px;
}

.user-message-field {
    color: green;
    display: none;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-bottom: 40px;
}

.button-section {
    padding-bottom: 30px;
    padding-top: 10px;
}

.quiz-container, .quiz-container-first, .quiz-container-last {
    padding-right: 10px !important;
    width: 500px;
    padding-top: 10px;
}

.start-quiz-button {
    -moz-border-radius: 10px;
    -moz-box-shadow: inset 0 1px 0 #44C767, 0 1px 1px #44C767;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 0 #44C767, 0 1px 1px #44C767;
    background: #44C767;
    border: solid 1px #44C767;
    border-radius: 10px;
    box-shadow: inset 0 1px 0 #44C767, 0 1px 1px #44C767;
    color: #FFF;
    margin: 10px;
    padding: 10px 25px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #44C767;
}

.quiz-header-container {
    color: green;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.lucida-sans-font {
    color: green;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-indent: 30px;
}

.lucida-sans-font-clean {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.quiz-description {
    color: green;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 10px;
}

.quiz-start-test-button-container {
    padding-bottom: 20px;
    padding-left: 330px;
    padding-top: 20px;
}

.quiz-description-value {
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.quiz-details-label {
    color: green;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.quiz-description-topic {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.glyphicon-ok {
    color: green;
    padding-left: 5px;
    padding-right: 3px;
}

.quiz-settings {
    font-family: 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
}

.quiz-details {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}

.settings-label-header {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 25px;
}

.details-label-header {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.quiz-setting {
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
}

.details-row {
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.quiz-description, .quiz-description-topic { display: none; }

.index-header { padding-top: 20px; }

.quiz-frame {
    border-color: #44C767;
    border-style: groove;
    border-width: 12px;
}

.quiz-index-quote { padding-left: 10px; }

.settings-label {
    font-size: 15px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.hr-white { color: white; }

#searchQuizText { width: 176px; }

#searchByKeywordResult {
    color: red;
    display: none;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.footer {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}

.fa-hand-o-up {
    color: green;
    font-size: 18px !important;
}

.quiz-search-button {
    color: green;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 176px;
}

.quiz-search-options-container { padding-top: 5px; }

main   { font-size:16px; }
.stuff { padding-top:60px; }

input[type=checkbox]   { display:none; }
label, p               { padding-left:30px; }
#check-awesome         { position:relative; }

/* checkbox css */
label                  { cursor:pointer; }
label span             { display:block; position:absolute; left:0; 
    -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; transition-duration:0.3s;
}
label .circle          {
    background:#FFF;
    left:-5px;
    top:-30px;
    height:80px;
    width:80px;
    z-index:-1;
    border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
}
label .box     {
    border:2px solid #000;
    height:20px; 
    width:20px;
    z-index:888;
    -webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; transition-delay:0.2s;
}
label .check         {
    top: -7px;
    left: 6px;
    width: 12px;
    height: 24px;
    border:2px solid #0f9d58;  
    border-top: none;
    border-left: none;
    opacity:0; 
    z-index:888;
    -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg);
    -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; transition-delay:0.3s;
}

label .circle {
    -webkit-animation   :growCircle 0.3s ease;
    -moz-animation      :growCircle 0.3s ease;
    animation           :growCircle 0.3s ease;
}
input[type=checkbox]:checked ~ label .box { 
    opacity:0;
    -webkit-transform   :scale(0) rotate(-180deg);
    -moz-transform 		:scale(0) rotate(-180deg);
    transform 				:scale(0) rotate(-180deg);
}
input[type=checkbox]:checked ~ label .check {
    opacity:1; 
    -webkit-transform   :scale(1) rotate(45deg);
    -moz-transform      :scale(1) rotate(45deg);
    transform           :scale(1) rotate(45deg);
}


@-webkit-keyframes growCircle {
    0%, 100%   { -webkit-transform:scale(0); }
    70%        { background:#DDD; -webkit-transform:scale(1.25); }
}
@-moz-keyframes growCircle {
    0%, 100%   { -moz-transform:scale(0); }
    70%        { background:#DDD; -moz-transform:scale(1.25); }
}
@keyframes growCircle {
    0%, 100%   { transform:scale(0); }
    70%        { background:#DDD; transform:scale(1.25); }
}