@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div>
        Register
    </div>
    <div>
        <label for="name">Username:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="name">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
}