.div-item {
    padding-top: 10px;
    padding-top: 10px;
    font-size: x-large;
}

.quiz-completed-title {
    color: green;
    font-family: Times New Roman;
    font-size: xx-large;
    padding-bottom: 20px;
    padding-top: 20px;
}

.quiz-completed-buttons {
    padding-top: 30px;
    padding-bottom: 20px;
}