.quiz-title {
    font-family: Times New Roman;
    font-size: xx-large;
    padding-bottom: 10px;
}

.quiz-description {
    font-family: Times New Roman;
    font-size: x-large;
    padding-bottom: 5px;
}

.quiz-index-buttons { padding-top: 20px; }

.hr {
    border: 1px solid #44C767;
    height: 0;
}

.hr-gray {
    border: 1px solid #EEEEEE;
    height: 0;
}

.message {
    color: green;
    margin-top: 10px;
    padding-bottom: 10px;
}

.user-message-field {
    color: green;   
    font-family: Times New Roman;
    font-size: large;
    padding-bottom: 40px;
    display: none;
}