#divResult {
    font-size: x-large;
    padding-bottom: 10px;
    padding-top: 10px;
}

.answer {
    font-family: Times New Roman;
    font-size: x-large
}

.question-buttons { padding-top: 20px }

.response-image {
    display: none;
    height: 70px;
    width: 70px;
}

.question {
    font-family: Times New Roman;
    font-size: xx-large;
}

.green-answer { color: green; }

.div-result-correct { color: green; }

.div-result-wrong { color: red; }

.div-result-please-select { color: #DAA520; }

.div-result {
    display: none;
    font-family: Times New Roman;
    font-size: x-large;
}

.answered {
    font-size: xx-large;
    padding-top: 20px;
}

.div-question-image {
    padding-bottom: 10px;
    padding-top: 10px;
}

.question-number {
    color: #44C767;
    font-family: Times New Roman;
    font-size: x-large;
}

#nextQuestion { display: none; }

.hr-green {
    border: 1px solid #44C767;
    height: 0;
}

.quiz4net-logo { padding-bottom: 20px; }

.ui-dialog, .ui-widget { background: #44c767 !important }
