.about-item {
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    padding-bottom: 5px;
}

.hr-gray {
    border: 1px solid #EEEEEE;
    height: 0;
}

.about-item-description {
    font-family: 'Nunito', sans-serif;
    padding-left: 50px;
    font-size: large;
}

.about-main-item {
    color: green;
    font-family: Times New Roman;
    font-size: x-large;
}

.categories-details-link {
    font-weight: bold;
    padding-left: 10px;
}

.categories-details-link > a:link { color: green; }

.categories-details-link > a:visited { color: green; }

.categories-details-link > a:hover { color: #44C767; }

.detail-buttons { padding-top: 10px; }

.about-link { font-weight: bold; }