.about-form-container { padding-top: 10px; }

.about-title {
    color: #44C767;
    font-family: Times New Roman;
    font-size: xx-large;
    padding-bottom: 20px;
}

.about-item {    
    font-family: Times New Roman;
    font-size: x-large;
    padding-bottom: 5px;
}

.hr-gray {
    border: 1px solid #EEEEEE;
    height: 0;
}

.about-item-description {
    font-style: italic;
    padding-left: 50px;
}

.about-main-item {
    color: green;
    font-family: Times New Roman;
    font-size: x-large;
}