.div-item {
    font-size: x-large;
    padding-top: 10px;
    padding-top: 10px;
}

.quiz-completed-title {
    color: green;
    font-family: Times New Roman;
    font-size: xx-large;
    padding-top: 20px;
}

.quiz-completed-buttons { padding-bottom: 20px; }

.user-level {
    color: green;
    font-size: xx-large;
}

.green { color: green; }