.hr-green {
    border: 1px solid #44C767;
    height: 0;
}

.quiz4net-menu-logo { padding-right: 40px; }

.quiz4net-menu-item { padding-right: 40px; }

a:hover { color: white; }

.buttons-section { padding-top: 10px; }

.button-back-error { padding-left: 30px; }

.button {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0 1px 0 #44C767, 0 1px 1px #44C767;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 #44C767, 0 1px 1px #44C767;
    background: #44C767;
    border: solid 1px #44C767;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 #44C767, 0 1px 1px #44C767;
    color: #FFF;
    margin: 3px;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #44C767;
}

.button-submit { height: 36px; }

.login-control {
    padding-bottom: 5px;
    padding-top: 5px;
}

.login-label {
    color: #44c767;
    font-size: x-large;
}

.button-section { padding-top: 10px; }

.label-text {
    color: #44c767;
    font-size: large;
}

a.link-register:hover {
    color: #44c767;
}

.validation-summary-errors {
    color: red;
}