.detail-form-container { padding-top: 10px; }

.detail-title {
    color: green;
    font-family: Times New Roman;
    font-size: xx-large;
    padding-bottom: 20px;
}

.detail-item {
    color: #44C767;
    font-family: Times New Roman;
    font-size: x-large;
    padding-bottom: 10px;
}

.detail-item-description {
    font-family: Times New Roman;
    font-size: x-large;
    padding-bottom: 10px;
}

.detail-item > a:link { color: green; }

.detail-item > a:visited { color: green; }

.detail-item > a:hover { color: #44C767; }

.detail-buttons { padding-top: 20px; }

.detail-item-option {
    font-family: Times New Roman;
    padding-bottom: 5px;
}